NetCore.DesignPattern/NetCore.DesignPattern.FactoriesPattern/obj/
NetCore.DesignPattern/NetCore.DesignPattern.FactoriesPattern/bin/

NetCore.JobService/NetCore.DemoJob/bin/
NetCore.JobService/NetCore.DemoJob/bin/

NetCore.Libraries/NetCore.DemoLibs/obj/
NetCore.Libraries/NetCore.DemoLibs/bin/

NetCore.JobService/NetCore.DemoJob/obj/
NetCore.JobService/NetCore.DemoJob/bin/

NetCore.Libraries/NetCore.DemoLibs/obj/
NetCore.Libraries/NetCore.DemoLibs/bin/

NetCore.Data/NetCore.DataTest/bin/
NetCore.Data/NetCore.DataTest/obj/

NetCore.Modules/NetCore.Demo/obj/
NetCore.Modules/NetCore.Demo/bin/

NetCore.MainAPI/obj/
NetCore.MainAPI/bin/

.vs/NetCore.Optimize/
NetCore.MainAPI/.vs/NetCore.Optimize/
NetCore.Data/NetCore.DataTest/NetCore.DataTest.csproj
